# Loadable Kernel Modules support
CONFIG_MODULES=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_MODULE_SRCVERSION_ALL=n
CONFIG_MODULE_SIG=n
CONFIG_MODULE_COMPRESS=n
CONFIG_TRIM_UNUSED_KSYMS=n

#SELinux Always Permissive
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE=y
CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE=n

#KernelSU
CONFIG_KSU=y
CONFIG_KSU_KPROBES_HOOK=n
CONFIG_KSU_LSM_SECURITY_HOOKS=y
CONFIG_KSU_ALLOWLIST_WORKAROUND=y

# Wireguard
CONFIG_WIREGUARD=y

# Fix for networking
CONFIG_ANDROID_PARANOID_NETWORK=n
