# Nethunter - General
# LKMs support is already configured in custom.config
CONFIG_LOCALVERSION="-Nethunter-KSU@ravindu644"
CONFIG_DEFAULT_HOSTNAME="kali"
CONFIG_SYSVIPC=y

# We are enabling all possible NetHunter drivers as LKMs.
# This allows us to compile the kernel with a wide range of drivers
# while maintaining a consistent kernel image size.
# As a result, there is no need to worry about larger boot.img sizes or
# bootloader failures due to flashing issues.

# Nethunter - Bluetooth
CONFIG_BT_HCIBTUSB=m
CONFIG_BT_HCIBTUSB_BCM=y
CONFIG_BT_HCIBTUSB_RTL=y
CONFIG_BT_HCIUART=m
CONFIG_BT_HCIUART_H4=y
CONFIG_BT_HCIBCM203X=m
CONFIG_BT_HCIBPA10X=m
CONFIG_BT_HCIBFUSB=m
CONFIG_BT_HCIVHCI=m
CONFIG_ANDROID_BINDER_IPC=y
